@import 'variables';

html, body{
    height: 100%;
    }
body {
  font-family: $font-family;
  font-size: $base-font-size;
  color: $color-white;
  height: 100%;
  background-color: $color-very-light-grayish-blue;
}
.header h1{
  padding: 0;
  margin: 0;
}

a {
  color: $primary-color-red;

  &:hover {
    color: darken($primary-color-red, 10%);
  }
}

p {
  font-size: $base-font-size;
  color: $color-dark-grayish-blue;
  margin: 0;
}
.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 80px) 250px; /* Crea 8 filas iguales  60px 80px 70px*/
    gap: 10px; /* Espacio entre filas */
    height: 100%; /* Asegura que el contenedor ocupe el 100% del alto del body */
    justify-items: center;
  }
  
.notification {
    background-color: $color-light-grayish-blue-1;
    font-weight: $font-weight-bold;
    font-size: 16px;
    display: flex;
    width: 87%;
    gap: 5px;
    .name{
      color: $color-very-dark-blue;
    }
    .reaction {
     color: $color-grayish-blue;
    }
    .reaction-blue {
      color: $primary-color-blue;
    }
    .date {
     color: $color-grayish-blue;
     font-size: 12px;
    }
    .img-container{
      height: auto;
      max-width: 40px;
      display: flex;
      justify-content: center;
      align-items: start;
      margin-top: 10px;
    }
    .img {
      width: 100%;
      height: auto;
    }
    .text {
      display: flex;
      height: auto;
      max-height: 220px;
      flex-direction: column;
      justify-content: start;
      margin-top: 10px;
      gap: 3px;
    }
    .point-red {
      display: inline-block;
      width: 12px; /* Ajusta el tamaño según lo necesario */
      height: 12px; /* Ajusta el tamaño según lo necesario */
      background-color: red; /* O el color que definas en tu variable $primary-color-red */
      border-radius: 50%;
      vertical-align: middle; /* Asegura que el punto esté alineado con el texto */
      margin-left: 5px; /* Ajusta el espacio a la izquierda del punto según sea necesario */
  }
  .mensaje {
    width: 80%;
    height: 100%;
    margin-left: auto;
    border: 1px solid $color-grayish-blue;
    background-color: $color-very-light-grayish-blue;
    border-radius: 3%;
    margin-top: 5px;
  }
  }
.header {
  margin-top: 10px;
    display: flex;
    max-height: 60px;
    color: $color-very-dark-blue;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    h1{
        font-weight: $font-weight-bold;
        font-size: 1.4em;
        color: $color-very-dark-blue;
    }
    .tres{
        background-color: $primary-color-blue;
        display: inline-block;
        width: 35px;
        color: #fff;
        text-align: center;
        border-radius: 20%;
    }
}
.notification:nth-child(5) {
  background-color: $color-very-light-grayish-blue;
}