@import 'variables';

html, body{
    height: 100%;
    }
body {
  font-family: $font-family;
  font-size: $base-font-size;
  color: $color-very-dark-blue;
  height: 100%;
  background-color: $color-white;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color-blue;
}
a {
  color: $primary-color-red;

  &:hover {
    color: darken($primary-color-red, 10%);
  }
}

p {
  font-size: $base-font-size;
  color: $color-dark-grayish-blue;
}
.grid-container {
    display: grid;
    grid-template-rows: 80px; /* Crea 8 filas iguales */
    gap: 10px; /* Espacio entre filas */
    height: 100%; /* Asegura que el contenedor ocupe el 100% del alto del body */
  }
  
.post {
    background-color: lightblue;
    font-weight: $font-weight-bold;
  }
.header {
    display: flex;
    color: $color-very-dark-blue;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    h1{
        font-weight: $font-weight-bold;
        font-size: 1.4em;
    }
    .tres{
        background-color: $primary-color-blue;
        display: inline-block;
        width: 35px;
        color: #fff;
        text-align: center;
        border-radius: 20%;
    }
}